<!DOCTYPE HTML>

<html>

    <head>
        <title>Raspi's Homepage</title>
    </head>
    
    <body>
        <button type="button" id="led">Click me to change the LED!</button>
    </body>

    <script>

        var button = document.getElementById("led");

        button.addEventListener("click", function (evt) {
            evt.preventDefault();

            fetch("/led").then(function (response) {
                response.text().then(function (text) {
                    console.log(text);
                });
            });


        });

    </script>
</html>
